<div class="h-screen flex flex-col">
  <header class="p-4 bg-base-200">
    <h1 class="text-2xl font-bold">
      {@room.name}
    </h1>
  </header>

  <main class="flex-1 flex">
    <!-- Juego -->
    <div class="flex-1 bg-base-300">
    <div
  id="game"
  phx-update="ignore"
  phx-hook="RoomGame"
  class="flex-1 bg-base-300 overflow-hidden"
>
</div>
    </div>
    <!-- Chat -->
    <aside class="w-96 flex flex-col border-l border-base-200">
      <div class="p-4 font-bold border-b">
        Chat
      </div>
      <div class="flex-1 overflow-y-auto p-4 space-y-2">
        <%= for message <- @room.messages do %>
          <div>
            <span class="font-bold">
              {message.username}:
            </span>

            <span>
              {message.content}
            </span>
          </div>
        <% end %>
      </div>

      <form
        phx-submit="send_message"
        class="p-4 flex gap-2 border-t"
      >
        <input
          type="text"
          name="message"
          placeholder="Escribe un mensaje..."
          autocomplete="off"
          class="input input-bordered flex-1"
        />
        <button type="submit" class="btn btn-primary">
          Send
        </button>
      </form>
    </aside>
  </main>
</div>
